@-webkit-keyframes reveal-text {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes reveal-text {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes hide-text {
  from {
    right: auto;
    left: 0px;
    width: 0%;
  }

  to {
    right: auto;
    left: 0px;
    width: 100%;
  }
}

@keyframes hide-text {
  from {
    right: auto;
    left: 0px;
    width: 0%;
  }
  to {
    right: auto;
    left: 0px;
    width: 100%;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
    visibility: hidden;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    visibility: visible;
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
    visibility: hidden;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    visibility: visible;
  }
}

@-webkit-keyframes scale-up {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.8);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.8);
  }
}

@-webkit-keyframes glowTurquoise {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  12.5% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.5;
    text-shadow: 0px 0px 5px darkturquoise;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
    text-shadow: 0px 0px 5px white;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px darkturquoise;
  }
}

@keyframes glowTurquoise {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  12.5% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.5;
    text-shadow: 0px 0px 5px darkturquoise;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
    text-shadow: 0px 0px 5px white;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px darkturquoise;
  }
}

@-webkit-keyframes flashColor {
  from {
    color: darkturquoise;
  }
  to {
    color: #15464F;
  }
}

@keyframes flashColor {
  from {
    color: darkturquoise;
  }
  to {
    color: #15464F;
  }
}

@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.container .reveal:not(:last-of-type)::after {
  content: "";
  display: block;
  height: 1.4em;
  width: 100%;
  position: absolute;
  background-color: #2d2d2d;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
}

body {
  margin: 0px;
  font-family: "Major Mono Display", cursive;
}

.container {
  font-size: 4.3vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #2d2d2d;
  color: #15464F;
  cursor: none;
  pointer-events: none;
  border: 10px double darkturquoise;
  z-index: 100;
}

.container::before {
  content: "";
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 10px;
  border: 10px double darkturquoise;
}

.container .reveal {
  position: absolute;
  overflow: hidden;
}

.container .reveal.msg1 {
  z-index: 6;
  -webkit-animation: reveal-text 0s 9.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
          animation: reveal-text 0s 9.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
}

.container .reveal.msg1::after {
  -webkit-animation: reveal-text 6s 2.5s 1 forwards linear, hide-text 1.5s 8.5s forwards linear;
          animation: reveal-text 6s 2.5s 1 forwards linear, hide-text 1.5s 8.5s forwards linear;
}

.container .reveal.msg2 {
  z-index: 5;
  -webkit-animation: reveal-text 0s 17.4s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
          animation: reveal-text 0s 17.4s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
}

.container .reveal.msg2::after {
  -webkit-animation: reveal-text 6s 10s 1 forwards linear, hide-text 1.5s 16s forwards linear;
          animation: reveal-text 6s 10s 1 forwards linear, hide-text 1.5s 16s forwards linear;
}

.container .reveal.msg3 {
  z-index: 4;
  -webkit-animation: reveal-text 0s 24.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
          animation: reveal-text 0s 24.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
}

.container .reveal.msg3::after {
  -webkit-animation: reveal-text 6s 17.5s 1 forwards linear, hide-text 1.5s 23.5s forwards linear;
          animation: reveal-text 6s 17.5s 1 forwards linear, hide-text 1.5s 23.5s forwards linear;
}

.container .reveal.msg4 {
  z-index: 3;
  -webkit-animation: reveal-text 0s 32.4s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
          animation: reveal-text 0s 32.4s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
}

.container .reveal.msg4::after {
  -webkit-animation: reveal-text 6s 25s 1 forwards linear, hide-text 1.5s 31s forwards linear;
          animation: reveal-text 6s 25s 1 forwards linear, hide-text 1.5s 31s forwards linear;
}

.container .reveal.msg5 {
  z-index: 2;
  -webkit-animation: reveal-text 0s 39.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
          animation: reveal-text 0s 39.9s 1 forwards linear, glowTurquoise 1s infinite linear both alternate;
}

.container .reveal.msg5::after {
  -webkit-animation: reveal-text 6s 32.5s 1 forwards linear, hide-text 1.5s 38.5s forwards linear;
          animation: reveal-text 6s 32.5s 1 forwards linear, hide-text 1.5s 38.5s forwards linear;
}

.container .reveal.msg6 {
  z-index: 1;
  -webkit-animation: scale-up 4s 42.5s steps(8, end) both;
          animation: scale-up 4s 42.5s steps(8, end) both;
}

.container .reveal.msg6 > :nth-of-type(1) {
  -webkit-animation: text-pop-up-top 0.3s 40s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 0.5s linear infinite both;
          animation: text-pop-up-top 0.3s 40s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 0.5s linear infinite both;
}

.container .reveal.msg6 > :nth-of-type(2) {
  -webkit-animation: text-pop-up-top 0.3s 40.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 1s linear infinite both;
          animation: text-pop-up-top 0.3s 40.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 1s linear infinite both;
}

.container .reveal.msg6 > :nth-of-type(3) {
  -webkit-animation: text-pop-up-top 0.3s 41s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 1.5s linear infinite both;
          animation: text-pop-up-top 0.3s 41s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 1.5s linear infinite both;
}

.container .reveal.msg6 > :nth-of-type(4) {
  -webkit-animation: text-pop-up-top 0.3s 41.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 2s linear infinite both;
          animation: text-pop-up-top 0.3s 41.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 2s linear infinite both;
}

.container .reveal.msg6 > :nth-of-type(5) {
  -webkit-animation: text-pop-up-top 0.3s 42s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 2.5s linear infinite both;
          animation: text-pop-up-top 0.3s 42s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 2.5s linear infinite both;
}

.container .reveal.msg6 > :nth-of-type(6) {
  -webkit-animation: text-pop-up-top 0.3s 42.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 3s linear infinite both;
          animation: text-pop-up-top 0.3s 42.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both, flashColor 0.2s 3s linear infinite both;
}

.container .reveal .highlight {
  color: darkturquoise;
}

.container .pop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(10vw + 60px);
  min-width: 50vw;
  color: darkturquoise;
}

.container .pop-down span {
  visibility: hidden;
  display: inline-block;
  box-sizing: border-box;
  font-size: 10vw;
  transform: translate3d(0, 0, 0);
  margin: auto;
  font-weight: 600;
}

.disclaimer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 20px;
  color: #2d2d2d;
  text-align: center;
  z-index: 102;
}

.disclaimer > span {
  display: inline-block;
  border: 2px solid #2d2d2d;
  padding: 10px;
  margin-bottom: 10px;
  cursor: none;
  box-shadow: -1px -1px 0px 0px #2d2d2d, -2px -2px 0px 0px #2d2d2d, -3px -3px 0px 0px #2d2d2d, -4px -4px 0px 0px #2d2d2d;
}

.disclaimer > span::after {
  margin-left: -10px;
}

.disclaimer > span:hover, .disclaimer > span.vibrate {
  -webkit-animation: vibrate 0.3s linear infinite both;
          animation: vibrate 0.3s linear infinite both;
}

.disclaimer > span.hidden {
  display: none;
}

.disclaimer > span#play {
  cursor: pointer;
}

.disclaimer > span::before, .disclaimer > span::after {
  content: "";
  height: 75px;
  border: 3px dotted transparent;
  border-left-color: grey;
  position: absolute;
  top: -80px;
}

.wave {
  z-index: 101;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.wave::before, .wave::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.wave::before {
  background-size: 20px 150px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, darkturquoise 21px);
  height: 150px;
}

.wave::after {
  height: 155px;
  background-size: 85px 75px;
  background-image: radial-gradient(circle at 12px 28px, darkturquoise 20px, transparent 21px);
}
